#Files to ignore
*~
*.o
*.pa*
*.processed.gem
*.tmp
*.iob
*#*#
m_defs.dat

#Ignore ion library files in the base directory
simulations/SIMION/base/*.fly2
simulations/SIMION/base/*.fly
simulations/SIMION/base/*.ion
simulations/SIMION/base/*.csv
simulations/SIMION/base/*.config

#Directories to ignore
bin/